@charset "UTF-8";

/*共通部分
----------------------*/
html {
  font-size: 100%;
}
body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  color: #000;
  background-color: #f0f0f0;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 0.875rem;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
.wrapper {
  width: 100%;
  max-width: 1036px;
  padding: 0 16px;
  margin: 0 auto;
}
.logo {
  width: 100px;
  line-height: 1px;
}
.logo a {
  display: block;
}
li {
  list-style: none;
}

.section-title {
  font-weight: normal;
  line-height: 1;
  margin-bottom: 50px;
}

.section-title::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #000;
  display: block;
}

.section-title .en {
  display: block;
  font-size: 2.25rem;
  letter-spacing: 0.3em;
  margin-bottom: 10px;
}
.section-title .ja {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 36px;
}

/*--------ヘッダー---------*/
#header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

#header ul {
  display: flex;
  align-items: center;
}

#header ul li {
  margin-right: 30px;
}

#header ul li:last-child {
  margin-right: 0px;
}

#header .inner {
  display: flex;
  align-items: center;
}

#header .logo {
  margin-right: 60px;
}

.contact {
  width: 200px;
  height: 80px;
  background-color: #000;
  color: #ffffff;
  text-align: center;
  line-height: 80px;
  font-size: 0.75rem;
  display: inline-block;
}

.contact:hover {
  background-color: #333;
}

/*--------メインビジュアル---------*/
.mainvisual {
  margin-bottom: 120px;
}

.mainvisual img {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

/*--------ニュース---------*/
#news {
  margin-bottom: 120px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.list li {
  width: calc(100% / 3);
  border-right: solid 1px #000;
  padding: 10px 20px;
}

.list li:first-child {
  padding-left: 0;
}

.list li:last-child {
  border-right: none;
  padding-right: 0;
}
.data-area {
  margin-bottom: 16px;
}

.data-area span {
  width: 50px;
  height: 20px;
  line-height: 20px;
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-size: 0.75rem;
  margin-left: 10px;
  text-align: center;
}

/*--------アバウト---------*/
#about {
  display: flex;
  margin-bottom: 120px;
}

#about .img {
  width: 55%;
}
#about .img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#about .text {
  width: 45%;
  padding: 180px 5% 0 5%;
}

#about .text p {
  line-height: 2.2;
}

/*--------ビジサス---------*/
#business {
  margin-bottom: 120px;
}

#business .flex {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

#business .flex .left {
  width: 46%;
  margin-top: 100pt;
}

#business .flex .right {
  width: 46%;
}

#business .flex .item {
  margin-bottom: 50px;
}

#business .flex .item:last-child {
  margin-bottom: 0;
}

#business .flex .Subheading {
  margin: 0 0 10px 18px;
  font-weight: bold;
  position: relative;
}

#business .flex .Subheading::before {
  content: "";
  width: 8px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: -18px;
}

/*--------カンパニー---------*/
#company {
  display: flex;
  height: 750px;
  align-items: center;
  position: relative;
}

#company .text {
  width: 55%;
  background-color: #fff;
  padding: 100px 8% 100px 6%;
  position: absolute;
  top: 0;
  left: 0;
}

#company .img {
  width: 53%;
  position: absolute;
  top: 115px;
  right: 0;
}

#company .img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#company .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#company .info dt {
  width: 20%;
  margin-top: 10px;
}

#company .info dt:first-of-type {
  margin-top: 0;
}

#company .info dd {
  width: 80%;
  margin-top: 10px;
}

#company .info dd:first-of-type {
  margin-top: 0;
}

#company .info .add {
  margin-left: 20%;
}

/*--------フッター---------*/
#footer {
  background-color: #fff;
  padding-bottom: 20px;
}

#footer .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

#footer .copyright {
  font-size: 0.625rem;
}

/*--------レスポンシブ---------*/
@media (max-width: 900px) {
  /*--------SP共通---------*/
  .logo {
    width: 80px;
    margin: 8px 0;
  }
  .section-title {
    margin-bottom: 34px;
  }
  .section-title .ja {
    margin-bottom: 24px;
  }

  /*--------SPヘッダー---------*/
  #header .inner {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact {
    display: none;
  }

  /*--------SPメインビジュアル---------*/
  .mainvisual {
    margin-bottom: 80px;
  }

  /*--------SPニュース---------*/
  #news {
    margin-bottom: 80px;
  }
  .list {
    flex-direction: column;
  }
  .list li {
    width: 100%;
    border-right: none;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  .list li:last-child {
    margin-bottom: 0;
  }

  /*--------SPアバウト---------*/
  #about {
    flex-direction: column;
    margin-bottom: 80px;
  }
  #about .img {
    width: 100%;
  }
  #about .img img {
    height: 300px;
  }
  #about .text {
    width: 100%;
    padding: 30px 16px 0 16px;
  }

  /*--------SPビジサス---------*/
  #business {
    margin-bottom: 80px;
  }
  #business .flex {
    flex-direction: column;
    padding: 0;
  }
  #business .flex .left {
    width: 100%;
    margin: 0 0 30px 0;
  }
  #business .flex .right {
    width: 100%;
  }
  #business .flex .item {
    text-align: center;
    margin-bottom: 30px;
  }
  #business .flex .Subheading {
    text-align: left;
  }

  /*--------SPカンパニー---------*/
  #company {
    flex-direction: column;
    position: static;
    height: auto;
  }
  #company .text {
    width: 100%;
    padding: 40px 20px;
    position: static;
    margin-bottom: 20px;
  }
  #company .img {
    width: 100%;
    padding: 0;
    position: static;
  }
  #company .info {
    flex-direction: column;
  }
  #company .info dt {
    width: 100%;
    margin-top: 20px;
  }
  #company .info dd {
    width: 100%;
    padding-left: 14px;
    margin-top: 5px;
  }

  #company .info dd:first-of-type {
    margin-top: 5px;
  }

  #company .info .add {
    margin-left: 0;
  }

  /*--------フッター---------*/
  #footer .flex {
    flex-direction: column;
    align-items: flex-start;
  }

  #footer .flex .logo {
    margin-bottom: 10px;
  }
}
